@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fem-blue-violet: #733fc8;
  --fem-tropical-indigo: #a775f1;
  --fem-paynes-gray: #48556a;
  --fem-timberwolf: #cfcfcf;
  --fem-battleship-gray: #979797;
  --fem-raisin-black: #19202d;
}

.card-quote-image {
  display: none;
}

.card:nth-child(1) {
  background-color: var(--fem-blue-violet);
  color: white;
  z-index: 0;

  .card-quote-image {
    display: block;
    position: absolute;
    top: 0;
    right: 1.5rem;
    z-index: -1;
  }

  .card-image {
    border: 2px solid var(--fem-tropical-indigo);
  }
}

.card:nth-child(2) {
  background-color: var(--fem-paynes-gray);
  color: white;
}

.card:nth-child(3),
.card:nth-child(5) {
  background-color: white;
  color: var(--fem-paynes-gray);
}

.card:nth-child(4) {
  background-color: var(--fem-raisin-black);
  color: white;

  .card-image {
    border: 2px solid var(--fem-tropical-indigo);
  }
}
