@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fem-blue-violet: #733fc8;
  --fem-paynes-gray: #48556a;
  --fem-timberwolf: #cfcfcf;
  --fem-battleship-gray: #979797;
}

.card-list {
  .card:nth-child(1) {
    background-color: var(--fem-blue-violet);
    color: white;

    .card-title {
      opacity: 0.5;
    }

    .card-quote {
      opacity: 0.7;
    }
  }

  .card:nth-child(2) {
    background-color: var(--fem-battleship-gray);
    color: white;

    .card-title {
      opacity: 0.5;
    }

    .card-quote {
      opacity: 0.7;
    }
  }
}
