@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fem-blue-violet: #733fc8;
  --fem-tropical-indigo: #a775f1;
  --fem-paynes-gray: #48556a;
  --fem-timberwolf: #cfcfcf;
  --fem-battleship-gray: #979797;
  --fem-raisin-black: #19202d;
}

.card-quote-image {
  display: none;
}

.card-list {
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "a a"
      "b c"
      "d d"
      "e e";
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
      "a a b"
      "c d d"
      "e e e";
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas:
      "a a b e"
      "c d d e";
  }
}

.card:nth-child(1) {
  grid-area: a;
  background-color: var(--fem-blue-violet);
  color: white;
  z-index: 0;

  .card-quote-image {
    display: block;
    position: absolute;
    top: 0;
    right: 1.5rem;
    z-index: -1;

    @media (min-width: 640px) {
      right: 5rem;
    }
  }

  .card-image {
    border: 2px solid var(--fem-tropical-indigo);
  }
}

.card:nth-child(2) {
  grid-area: b;
  background-color: var(--fem-paynes-gray);
  color: white;
}

.card:nth-child(3) {
  grid-area: c;
  background-color: white;
  color: var(--fem-paynes-gray);
}

.card:nth-child(4) {
  grid-area: d;
  background-color: var(--fem-raisin-black);
  color: white;

  .card-image {
    border: 2px solid var(--fem-tropical-indigo);
  }
}

.card:nth-child(5) {
  grid-area: e;
  background-color: white;
  color: var(--fem-paynes-gray);
}
